:root {
    --color-font: #595B83;
    --color-font-placeholder: #9598B1;
    --color-font-dark: #484A6A;
    --color-primary: #505CC8;
    --color-primary-light: #ECEDF9;
    --color-success: #38A169;
    --color-success-light: #F0FFF4;
    --color-error: #D92550;
    --color-error-light: #FBE9EE;
    --color-border: #E2E8F0;
    --color-button-main: #3743AF;
    --color-button-dark: #323c9b;
    --color-button-darkest: #272e75;
}